<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>protocol</key>
	<string>https</string>
	<key>host</key>
	<string>api.flickr.com/services/rest</string>
	<key>application id</key>
	<string>photoz</string>
	<key>application version</key>
	<string>1.0</string>
	<key>environment</key>
	<string>iphone</string>
	<key>apiKey</key>
	<string>10b988fbc1f1d52b4b2177457e38a60d</string>
</dict>
</plist>
